<div class="header">
	<div class="wraper">
		<div class="logo">
			<a href="/" title="重阳的博客" data-title="{{ page.title }}"><img src="/res/img/logo.png"></a>
		</div>
		<div class="menu" id="menu">
		    <ul>
		    {% for nav in site.data.nav %}
		      <li {% if page.title == nav.title %}class="current"{% endif %}><a href="{{ nav.href }}"{% if nav.newblank == true %}target="_blank"{% endif %}><i class="{{ nav.icon }}"></i>&nbsp;{{ nav.title }}</a></li>
		    {% endfor%}
		    </ul>
		</div>  
	</div>
</div>