.liuyan-button div:active {
    background: #a17548;
}

.liuyan-button div {
    height: 100%;
    box-pack: center;
    background: -webkit-linear-gradient(top, #d3b382, #a17548);
    display: -webkit-box;
    box-align: center;
    float: left;
    color: white;
    padding: 5px 0;
    -webkit-box-pack: center;
    box-shadow: 0 0 1px rgba(255, 255, 255, .9) inset;
    width: 48%;
    -webkit-box-align: center;
    border: 1px solid #b9a36a;
    border-radius: 3px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}
.liuyan-button div:hover{
	opacity: .9;
}

.liuyan-model.active {
    opacity: 1;
    visibility: visible;
}

.poster-header .btn-back {
    display: none!important;
}

.liuyan-cover {
    z-index: 10;
    background: rgba(0, 0, 0, .5);
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    opacity: 0;
    position: absolute;
}


.liuyan-li {
    vertical-align: top;
    display: inline-block;
    /*width: 2.8rem;
    height: 3.9rem;*/
    width: 100px;
    height: 139px;
    margin:0 20px;
}

.liuyan-name {
    position: relative;
}

.liuyan-model-container {
    padding:120px 40px 40px;
    z-index: 20;
    background-image: url('../images/liuyan-bg.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #fafafa;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    border-radius: 12px;
    position: absolute;
    display: none;
}
.liuyan-model.active .liuyan-model-container{
	display: block;
}
.clearfix:after {
    height: 0;
    display: block;
    visibility: hidden;
    content: '';
    clear: both;
}

.liuyan-info .liuyan-dice {
    position: relative;
}

.liuyan-case li {
    height: 33.3%;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    box-pack: center;
    display: -webkit-box;
    text-align: center;
    box-align: center;
    font-size: 18px;
}

.liuyan-dice{
	width: 100%;
	text-align: center;
	position: relative;
}
.liuyan-dice img {
    box-shadow: 0px 1px 12px #888888;
    height: 50px;
    border-radius: 5px;
    margin: 0 auto;
}


.liuyan-info {
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
    font-size: 0;
}

.liuyan-button .cancel {
    margin-right: 4%;
}


.liuyan-text textarea {
    color: #666464;
    padding: 8px;
    outline: none;
    resize: none;
    user-select: all;
    width: 100%;
    height: 4rem;
    background-color: #e4e6e9;
    border-radius: 8px;
    border: 0;
}

.liuyan-model.active .liuyan-cover {
    opacity: 1;
}

.liuyan-button {
    margin-top: 30px;
}

.liuyan-case {
    overflow: hidden;
    border: 2px solid #cba572;
    border-radius: 5px;
    padding: 0;
    list-style: none;
}

.liuyan-model {
    z-index: 50;
    visibility: hidden;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    opacity: 0;
    position: absolute;
}

.liuyan-avatar img {
    width: 100%;
    height: 104%;
    display: block;
    margin-top: -4%;
}

.liuyan-name:after {
    background-image: url('../images/liuyan-mc.png');
    background-size: 100% 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    content: '';
    display: block;
}

@media(max-width: 400px){
  .liuyan-model-container{
    width: 90%;
    padding: 80px 15px 20px;
  }
  .liuyan-li{
    margin: 0 5px;
  }
}